:root {
  --FontDark: #434343;
  --Primary: #f1f1f1;
  --OneBitDark: #222323;
  --OneBitLight: #f0f6f0;
  --OneBitPink: #ebb5b5;
  --OneBitAqua: #b5ebe9;
  --Border: #bfbfbf;
  --BorderContact: #98c3c2;
}

@font-face {
  font-family: "SansSerif-BlbFLF";
  src: url("./assets/sansserifexbflfcond-webfont.woff") format("woff"),
}

html, body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  font-family: 'SansSerif-BlbFLF', Arial, sans-serif;
  color: var(--FontDark);
  background-color: var(--Primary);
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* MATERIAL ICONS */

.material-icons {
  font-size: 32px;
  vertical-align: top;
  cursor: pointer;
}

/* HIDE SCROLLBAR */
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-pane, .right-pane {
  width: 50%;
}

/* ANIMATE HOVER */
.animate-nav {
  position: relative;
  cursor: pointer;
}

.animate-nav::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 5px;
  background-color: var(--FontDark);
  transition: width 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .animate-nav:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.animate-link {
  position: relative;
  cursor: pointer;
}

.animate-link::before{
  content: '';
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--FontDark);
  transition: width 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .animate-link:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

/* HOME PAGE */

#homePage {
  width: 100%;
  height: 100vh;
  background-color: var(--OneBitLight);
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#homePage .left-pane, #homePage .right-pane {
  height: 90vh;
}

.main-container .left-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */
.header {
  font-size: 13vw;
  word-wrap: break-word;
  margin: 0;
  text-transform : uppercase;
  font-style: italic;
  text-align: justify;
}

.header span {
  margin-top: 20px;
}

.header .reverse-text-color {
  color: var(--Primary);
  padding: 0px 5px;
  display: inline-block;
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
  z-index: 999;
}

.reverse-text-color:after {
  content: '';
  position: absolute;
  background-color:var(--FontDark);
  top: 0;
  left: 0;
  right: 0;
  width: 200%;
  bottom: 0;
  z-index: -1;
  transform: skew(-10deg);
}

/* NAVBAR */
.navMenu {
  font-size: 48px;
  font-weight: 800;
  padding: 50px 10px 10px 50px;
}

/* SOCIAL LINKS */
.social-links {
  position: relative;
  font-size: 36px;
  font-weight: 800;
  padding: 50px 10px 10px 50px;
}

.social-links ul {
  position: relative;
  z-index: 999;
  bottom: 0;
}

.social-links ul:before {
  content: '';
  position: absolute;
  background-color: var(--FontDark);
  top: 0;
  right: 0%;
  width: 100%;
  bottom: 0;
  transform: skew(-10deg);
  width: 150%;
  z-index: -1;
}

.social-links ul,.social-links li {
  display: inline-block;
  color: var(--Primary);
  background-color: none;
  padding-right: 10px;
}

.social-links ul li {
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.social-links ul li:hover {
  opacity: 0.7;
}

/* ABOUT ME */

#about-me {
  padding: 10vh;
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--OneBitPink);
}

#about-me h2 {
  font-size: 14vw;
  margin: 0;
}

#about-me .left-pane, #about-me .right-pane {
  display: flex;
  min-height: 90vh;
}

#about-me .left-pane article {
  align-self: flex-end;
  line-height: 50px;
}

/* WORKSHOP */

#workshop {
  display: flex;
  padding: 10vh;
  flex-direction: row-reverse;
}

#workshop h2 {
  font-size: 14vw;
  width: 100%;
  word-wrap: break-word;
  margin: 0;
  padding-left: 10vh;
}

#workshop h2.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}

.table .row {
  border-bottom: 1px solid var(--Border);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}

.table .row:first-child {
  border-top: 1px solid var(--Border);
}

div.expandalbe {
  cursor: pointer;
}

div.expandalbe .info {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

div.expandalbe div.show {
  display: inline-block;
}

div.expandalbe div.expandButton {
  font-size: 18px;
}

div.expandalbe div.accordion p {
  line-height: 25px;
}

/* CONTACT */

#contact {
  display: flex;
  flex-direction: row-reverse;
  padding: 10vh;
  min-height: 80vh;
  justify-content: space-between;
  background-color: var(--OneBitAqua);
}

#contact h2 {
  font-size: 14vw;
  width: 100%;
  word-wrap: break-word;
  margin: 0;
}

#contact div.info {
  text-align: right;
}

#contact .table div.row {
  border-color: var(--BorderContact);
}

/* FOOTER */
.footer {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  background-color: var(--OneBitAqua);
}

.footer p {
  margin: 0;
  padding-bottom: 20px;
}