:root {
  --FontDark: #434343;
  --Primary: #f1f1f1;
  --OneBitLight: #f0f6f0;
  --OneBitPink: #ebb5b5;
  --OneBitAqua: #b5ebe9;
  --Border: #bfbfbf;
  --BorderContact: #98c3c2;
}

@font-face {
  font-family: "SansSerif-BlbFLF";
  src: url("/assets/sansserifbldflf-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "CenturyGothic";
  src: url("/assets/CenturyGothic-Bold.woff2") format("woff2");
}
/* gothicbo.ttf - opisy */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'CenturyGothic', Arial, Helvetica, sans-serif;
  color: var(--FontDark);
  background-color: var(--Primary);
  font-size: 24px;
}

.bold-font {
  font-family: 'SansSerif-BlbFLF', Arial, Helvetica, sans-serif;
}

@media only screen 
  and (max-device-width : 540px) 
  and (orientation : portrait) {
    html, body {
      font-size: 18px;
    }
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  text-transform : uppercase;
}

/* MATERIAL ICONS */

.material-icons {
  font-size: 32px;
  vertical-align: top;
  cursor: pointer;
}

/* HIDE SCROLLBAR */
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ANIMATE HOVER */

.animate-nav:before {
  content: '';
  position: absolute;
  background-color: var(--FontDark);
  top: 0;
  /* right: 800px; */
  right: -10px;
  opacity: 0;
  bottom: 0;
  /* transform: skew(-10deg); */
  width: 150%;
  z-index: -1;
  transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.animate-nav {
  z-index: 999;
  position: relative;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.animate-nav:hover {
  color: var(--Primary);
}

@media (hover: hover) and (pointer: fine) {
  .animate-nav:hover::before{
    /* right: -10px; */
    opacity: 1;
  }
}
@media only screen 
  and (max-device-width : 540px) 
  and (orientation : portrait) {
    .animate-nav:hover {
      color: var(--FontDark);
    }
}

.animate-link {
  position: relative;
  cursor: pointer;
}

.animate-link::before{
  content: '';
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--FontDark);
  transition: width 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .animate-link:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

/* MAIN CONTAINER */

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 100vh;
}

.main-container .left-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.main-container .right-pane {
  display: flex;
  align-items: flex-end;
  min-height: 100%;
}

.left-pane, .right-pane {
  width: 50%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

@media only screen 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    #body .main-container {
      flex-direction: column;
      justify-content: space-evenly;
    }
    .left-pane, .right-pane {
      width: 100%;
    }
    #body .main-container .left-pane, #body .main-container .right-pane {
      min-height: initial;
      height: 50%;
      flex-direction: row;
    }
}

@media only screen 
  and (max-device-width : 540px) 
  and (orientation : portrait) {
    .main-container h2 br {
      display: none;
    }
    .main-container h2 {
      text-align: center;
    }
}

/* HOME PAGE */

#homePage {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

@media only screen 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    #homePage {
      height: 100%;
    }
}

@media only screen 
  and (max-device-width : 360px) 
  and (orientation : portrait) {    
    #body #homePage .left-pane {
      flex-direction: column;
      justify-content: end;
    }
    
    #body #homePage .left-pane .social-links {
      align-self: flex-end;
    }
}

/* HEADER */

.right-pane .logo {
  width: 100%;
  padding-bottom: 50px;
}

@media only screen 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    .right-pane .logo {
      width: initial;
      max-height: 100%;
      max-width: 100%;
    }
    #homePage .right-pane {
      align-items: unset;
      justify-content: flex-end;
    }
}

/* NAVBAR */

nav {
  padding: 50px 10px 10px 50px;
}

.navMenu {
  font-size: 5vw;
  font-weight: 800;
  text-transform : uppercase;
}

@media only screen 
  and (max-device-width : 540px) 
  and (orientation : portrait) {
    .navMenu {
      font-size: 28px;
    }
}

/* SOCIAL LINKS */
.social-links {
  position: relative;
  font-size: 3vw;
  font-weight: 800;
  padding: 0 10px 50px 50px;
}

.social-links ul {
  position: relative;
  z-index: 999;
  bottom: 0;
}

.social-links ul:before {
  content: '';
  position: absolute;
  background-color: var(--FontDark);
  top: 0;
  right: 0;
  bottom: 0;
  /* transform: skew(-10deg); */
  width: 250%;
  z-index: -1;
}

@media only screen 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    .social-links {
      padding: 50px 50px 0 0;
    }

    .social-links ul:before {
      left: -20px;
    }
}

@media only screen 
  and (max-device-width : 540px) 
  and (orientation : portrait) {
    .social-links {
      font-size: 1rem;
      padding: 50px 0 0 0;
    }
    .social-links ul:before {
      left: -10px;
    }
}

.social-links ul,.social-links li {
  display: inline-block;
  color: var(--Primary);
  background-color: none;
  padding-right: 10px;
}

.social-links ul li {
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.social-links ul li:hover {
  opacity: 0.7;
}

/* ABOUT ME */

#about-me {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--OneBitPink);
}

#about-me h2 {
  font-size: 12vw;
  margin: 0;
  align-self: flex-start;
}

#about-me .left-pane, #about-me .right-pane {
  min-height: 90vh;
  padding: 50px;
}

@media only screen 
  and (max-device-width : 410px) 
  and (orientation : portrait) {
    #about-me .left-pane, #about-me .right-pane {
      padding-left: 10px;
      padding-right: 10px;
    }
}

#about-me .left-pane  {
  justify-content: flex-end;
}

#about-me .left-pane article {
  align-self: flex-end;
  line-height: 50px;
}

@media only screen 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    #about-me.main-container {
      flex-direction: column-reverse;
    }
    #about-me h2 br {
      display: none;
    }
}

@media only screen 
  and (max-device-width : 540px) 
  and (orientation : portrait) {
    #about-me.main-container .right-pane {
      justify-content: center;
    }
}

/* WORKSHOP */

#workshop {
  display: flex;
  flex-direction: row-reverse;
}

#workshop .contact-encouragement {
  margin-top: 50px;
}

#workshop .contact-encouragement a {
  border-bottom: solid var(--FontDark) 2px;
}

#workshop .left-pane, #workshop .right-pane {
  padding: 50px;
}

#workshop .right-pane {
  flex-direction: column;
}

@media only screen 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    #body #workshop .right-pane {
      flex-direction: column;
    }
}

@media only screen 
  and (max-device-width : 410px) 
  and (orientation : portrait) {
    #workshop .left-pane, #workshop .right-pane {
      padding-left: 10px;
      padding-right: 10px;
    }
}

#workshop h2 {
  font-size: 12vw;
  width: 100%;
  word-wrap: break-word;
  margin: 0;
  /* padding-left: 10vh; */
}

#workshop h2.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}

.table .row {
  border-bottom: 1px solid var(--Border);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}

.table .row:first-child {
  border-top: 1px solid var(--Border);
}

div.expandalbe {
  cursor: pointer;
}

div.expandalbe .info {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

div.expandalbe div.show {
  display: inline-block;
}

div.expandalbe div.expandButton {
  font-size: 30px;
}

div.expandalbe div.accordion p {
  line-height: 25px;
}

@media only screen 
  and (max-device-width : 540px) 
  and (orientation : portrait) {
    #workshop h2 br {
      display: none;
    }
}

/* CONTACT */

#contact {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;
  justify-content: space-between;
  background-color: var(--OneBitAqua);
}

#contact .right-pane {
  align-items: flex-start;
  padding: 50px;
}

#contact .left-pane {
  justify-content: flex-end;
  padding: 50px;
}

@media only screen 
  and (max-device-width : 410px) 
  and (orientation : portrait) {
    #contact .left-pane, #contact .right-pane {
      padding-left: 10px;
      padding-right: 10px;
    }
}

#contact h2 {
  font-size: 12vw;
  width: 100%;
  word-wrap: break-word;
  margin: 0;
}

#contact div.info {
  text-align: right;
}

#contact .table div.row {
  border-color: var(--BorderContact);
}

#contact .info i {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

#contact .info:hover i {
  transform: rotate(45deg);
}

#contact .row .title {
  max-width: 40%;
}

@media only screen 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    #contact.main-container {
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }
    #body #contact.main-container .left-pane {
      flex-direction: column;
    }
    #about-me h2 br {
      display: none;
    }
}

/* FOOTER */
.footer {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  background-color: var(--OneBitAqua);
}

.footer p {
  margin: 0;
  padding-bottom: 20px;
}